* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.header {
    padding-left: 216px;
    padding-top: 531px;
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: 100%; /* The same as to set width: 100% for img */
    height: 900px;
}


.header-text-subtitle {
    color: #ffffff;
}

.header-text-subtitle h2 {
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 5px;
}

.header-text-subtitle p {
    font-family: 'Lato', sans-serif;
}

.header-text-title {
    display: inline-block;
    margin-top: 25px;
    padding: 35px 43px 31px 30px;
    border: 1px solid #ffffff;
    border-radius: 2px;
    background-color: rgba(0,0,0,.3);
    text-transform: uppercase;
}

.header-text-title h1 {
    display: inline-block;
    font-size: 38px;
}

.header-text-title-first {
    margin-right: 30px;
    color: #f1ad1d;
}

.header-text-title-rest {
    color: #ffffff;
}